<nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-3">
    <div class="container-fluid">
      <div class="navbar-collapse">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Accueil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/menus" routerLinkActive="active">Menus</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  