/* Styles généraux pour la navbar */
.navbar {
    background-color: #1A0933 !important; /* Bleu sombre */
    padding: 1rem 2rem; /* Espacement autour de la navbar */
  }
  
  .navbar-toggler-icon {
    background-color: #ffffff; /* Couleur du bouton burger */
  }
  
  /* Style pour le menu de navigation */
  .navbar-nav {
    display: flex;
    justify-content: center; /* Centrer les éléments */
    width: 100%; /* Occupe toute la largeur disponible */
  }
  
  .nav-item {
    margin: 0 15px; /* Espacement horizontal entre les items */
  }
  
  .nav-link {
    font-size: 1.2rem; /* Taille du texte des liens */
    font-weight: bold; /* Met en gras */
    text-transform: uppercase; /* Texte en majuscules */
    padding: 8px 15px; /* Espacement interne des liens */
    border-radius: 5px; /* Coins arrondis pour les liens */
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease; /* Ajout de la transition sur le zoom */
    color: #0ff;
    text-shadow: 0 0 8px #0ff, 0 0 12px #0ff, 0 0 24px #0ff;
  }
  
  /* Effet de survol avec zoom */
  .nav-link:hover,
  .nav-link:focus {
    transform: scale(1.1); /* Zoom de 10% */
  }
  
  /* Styles pour la navbar sur petits écrans */
  @media (max-width: 767px) {
    .navbar-nav {
      flex-direction: column; /* Les éléments de la navbar se mettent en colonne sur petit écran */
      align-items: center; /* Centrer les éléments sur mobile */
    }
    
    .nav-item {
      margin: 10px 0; /* Espacement vertical entre les items sur petit écran */
    }
  }
  