<div *ngIf="isLoading" class="loading-screen">
  <div class="spinner"></div>
</div>

<div *ngIf="!isLoading">
  <div *ngIf="menu" class="d-flex flex-column align-items-center mt-5">
    <h2>{{ menu.nom }}</h2>
    <p>{{ menu.description }}</p>
    <p><strong>Statut : </strong>{{ menu.statut }}</p>
    <p><strong>Date de création : </strong>{{ menu.date_creation }}</p>
    <p><strong>Total des calories : </strong>{{ totalCalories }}</p>
  </div>

  <h3> <b>{{ plats.length }} </b> plats enregistrés</h3>

  <div class="mb-2 mt-4">
    <input 
      type="text" 
      class="form-control" 
      [(ngModel)]="searchTerm" 
      placeholder="Rechercher un plat..."
    />
  </div>

  <a routerLink="/plat/new" class="btn btn-info btn-nouveau mt-3 mb-3">Nouveau Plat</a>

  <div class="row">
    <div class="col-md-3" *ngFor="let plat of filteredPlats()">
      <app-plat-item [plat]="plat"></app-plat-item>
    </div>
  </div>
</div>